<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607618454299-q9qh18o1s5vcqm3pl516ej6kntbn9thr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607618454299-q9qh18o1s5vcqm3pl516ej6kntbn9thr</string>
	<key>API_KEY</key>
	<string>AIzaSyBJwOnXP96peLYd7EfPDPVJpfZi8oCuejk</string>
	<key>GCM_SENDER_ID</key>
	<string>607618454299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heeleeaz.touchlet.TouchletMenu</string>
	<key>PROJECT_ID</key>
	<string>touchlet-11807</string>
	<key>STORAGE_BUCKET</key>
	<string>touchlet-11807.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607618454299:ios:5ddc8821685f3cec5f39be</string>
	<key>DATABASE_URL</key>
	<string>https://touchlet-11807.firebaseio.com</string>
</dict>
</plist>