//
//  Common.xcconfig
//  AppLib
//
//  Created by Elias on 11/07/2020.
//  Copyright © 2020 Elias Igbalajobi. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUNDLE_IDENTIFIER = com.heeleeaz.Dodul.AppLib
