//
//  Debug.xcconfig
//  Meta
//
//  Created by Elias on 04/07/2020.
//  Copyright © 2020 Elias Igbalajobi. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Release.xcconfig"

APP_NAME = Dodul (Dev)
APP_ICON = AppIconDev
APP_SECURITY_GROUP = $(inherited).debug
BUNDLE_IDENTIFIER = $(inherited).debug
